.navbar {
  width: 100%;
  height: 50px;
  background-color: white;
  position: sticky;
  z-index: 999;
  margin: 5px 0;
}

.navbarWrapper {
  width: 100%;
  height: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: bold;
  font-size: 30px;
  color: darkblue;
  cursor: pointer;
}

.navbarIconContainer {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 15px;
  color: #555;
}

.navRight {
  display: flex;
  align-items: center;
}

.navRight > img {
  cursor: default;
}

.navAvatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 20px;
}

.navText {
  margin-right: 20px;
}

.searchButton {
  margin: 10px;
  background-color: rgb(240, 239, 239);
}

.searchButton > button {
  padding: 5px 10px;
  border-color: rgb(240, 239, 239);
}

.searchButton > button > span {
  margin-left: 10px;
}
